body{

background-image: url("https://images.unsplash.com/photo-1608817618454-b0e9aef7a342?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=751&q=80");
background-size: cover;

}

h1{
    margin-top: 50px;
    color: rgb(17, 17, 17);
    font-family: 'Rampart One', cursive;
    text-shadow: 1px 1px 1px white;
   
    
}




.container{
    text-align: center;
    font-size: 20px;
    margin: 0;
    padding: 0;
} 
button{

    font-size: 32px;
    width: 57px;
    height: 60px;
    color: black;
    background-color: white;
    border-radius: 10px;
   margin: 3px;
   background-color: white;
   box-shadow: inset 1px 0px 14px;
   border: none;
}
input{
    height: 48px;
    width:256px ;
    margin: 12px 0px 19px 0px;
    border-radius: 10px;
    box-shadow: inset 5px 3px 17px;
    font-size: 25px;
    text-align: end;
    color: rgb(17, 2, 2);
    border: none;
    background-color: #ffffff;
}
.calculator{
   display: inline-block;
   border-radius: 10px;
   padding: 13px;
   background: white;
   box-shadow: inset -4px 3px 14px;
   background-color: #ffffff;
}

button:hover{
    color: rgb(248, 246, 246);
    background-color: rgb(17, 2, 2);
    
}
#clr1:hover{
background-color: rgb(87, 172, 2);
}
#del:hover{
    background-color: red;
}
